body {
    background-color: #ff7575;
    color: #ffffff;
    font-family: system-ui;
}

header {
    text-align: center;
}

section {
    background-color: rgba(0, 0, 0, 0.178);
    width: 400px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 10px;
    color: #7b7b7b;
    box-shadow: 10px 10px 12px #00000080;
    padding: 1.5em;
    text-align: center;
}

#resultado {
    background-color: aliceblue;
    width: 300px;
    margin: auto;
    padding: .5em;
}

input [type='number'] {
    width: 80px;
}

input [type="button"] {
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}
